@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body {
    background-image: linear-gradient(to right, #E8E6DA, #E2CCB4, #D9C5B4);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #a67356ae;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A67356;
    text-align: center;
    text-shadow: 1px 1px 2px #6244339d;
}

h2 {
    color: #BA906A;
}

p {
    text-align: justify;
}

