@charset "UTF-8";

/* GERAL */
* {
    margin: 0px;
   font-family: cursive, 'Times New Roman', Times, serif;
}

/* HEADER */
header {
    background-color: black;
    color: white;
}

header > h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 50px;
    font-size: calc( 28px + (37 - 28) * (100vw - 500px) / (1000 - 500) );
}

header p {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-bottom: 50px;

}

header a {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

/* MAIN */
div.estrofe {
    margin-top: 10vh;
    margin-left: 40px;
    margin-bottom: 10vh;
    line-height: 1.9em;
    font-size: calc( 20px + (24 - 20) * (100vw - 500px) / (1000 - 500) );
}

div.estrofe#img001 {
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-size: cover;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:  fixed;
    padding: 50px;
    margin-left: 0px;
}

div.estrofe#img002 {
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-size: cover;
    width: auto;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment:  fixed;
    padding: 50px;
    margin-left: 0px;
}

div.fundo-texto {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.478);
    color: white;
    padding: 8px;
    margin: -13px;
}

/* FOOTER */
footer {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}